<html>
<% include header %>
<head>
    <title>Favoritos</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/logo.jpg">
      <!-- Kit de fontawesome (iconos) -->
  <script src="https://kit.fontawesome.com/82defc5500.js" crossorigin="anonymous"></script>
<style>
  body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
  }
table{
  margin-top: 50px;
  padding: 20px;
  height: 100%;
  width: 100%;
}
table tr td {
  border: 1px solid #7f7f7f;
  font-size: 20px;
  text-align: center;
  color:azure ;
  background-color: #3d8a66;
}
table th {
  border: 1px solid #000;
  text-transform: uppercase;
  font-size: 25px;
  text-align: center;
  background-color: #55d46c;
}

</style>
</head>
<body>
<table id="fav">
  <tr>
  <th>Lugares favoritos</th>
  </tr>
  <tr>
    <td><%= user.favorite[1] %></td>
  </tr><tr>
    <td><%= user.favorite[2] %></td>
  </tr><tr>
    <td><%= user.favorite[3] %></td>
  </tr><tr>
    <td><%= user.favorite[4] %></td>
  </tr><tr>
    <td><%= user.favorite[5] %></td>
  </tr><tr>
    <td><%= user.favorite[6] %></td>
  </tr><tr>
    <td><%= user.favorite[7] %></td>
  </tr><tr>
    <td><%= user.favorite[8] %></td>
  </tr><tr>
    <td><%= user.favorite[9] %></td>
  </tr><tr>
    <td><%= user.favorite[10] %></td>
  </tr><tr>
    <td><%= user.favorite[11] %></td>
  </tr><tr>
    <td><%= user.favorite[12] %></td>
  </tr><tr>
    <td><%= user.favorite[13] %></td>
  </tr><tr>
    <td><%= user.favorite[14] %></td>
  </tr><tr>
    <td><%= user.favorite[15] %></td>
  </tr><tr>
    <td><%= user.favorite[16] %></td>
  </tr><tr>
    <td><%= user.favorite[17] %></td>
  </tr><tr>
    <td><%= user.favorite[18] %></td>
  </tr><tr>
    <td><%= user.favorite[19] %></td>
  </tr><tr>
    <td><%= user.favorite[20] %></td>
  </tr><tr>
    <td><%= user.favorite[21] %></td>
  </tr><tr>
    <td><%= user.favorite[22] %></td>
  </tr><tr>
    <td><%= user.favorite[23] %></td>
  </tr><tr>
    <td><%= user.favorite[24] %></td>
  </tr><tr>
    <td><%= user.favorite[25] %></td>
  </tr><tr>
    <td><%= user.favorite[26] %></td>
  </tr><tr>
    <td><%= user.favorite[27] %></td>
  </tr><tr>
    <td><%= user.favorite[28] %></td>
  </tr><tr>
    <td><%= user.favorite[29] %></td>
  </tr><tr>
    <td><%= user.favorite[30] %></td>
  </tr><tr>
    <td><%= user.favorite[31] %></td>
  </tr><tr>
    <td><%= user.favorite[32] %></td>
  </tr><tr>
    <td><%= user.favorite[33] %></td>
  </tr><tr>
    <td><%= user.favorite[34] %></td>
  </tr><tr>
    <td><%= user.favorite[35] %></td>
  </tr><tr>
    <td><%= user.favorite[36] %></td>
  </tr><tr>
    <td><%= user.favorite[37] %></td>
  </tr><tr>
    <td><%= user.favorite[38] %></td>
  </tr><tr>
    <td><%= user.favorite[39] %></td>
  </tr><tr>
    <td><%= user.favorite[40] %></td>
  </tr><tr>
    <td><%= user.favorite[41] %></td>
  </tr><tr>
    <td><%= user.favorite[42] %></td>
  </tr><tr>
    <td><%= user.favorite[43] %></td>
  </tr><tr>
    <td><%= user.favorite[44] %></td>
  </tr><tr>
    <td><%= user.favorite[45] %></td>
  </tr><tr>
    <td><%= user.favorite[46] %></td>
  </tr><tr>
    <td><%= user.favorite[47] %></td>
  </tr><tr>
    <td><%= user.favorite[48] %></td>
  </tr><tr>
    <td><%= user.favorite[49] %></td>
  </tr><tr>
    <td><%= user.favorite[50] %></td>
  </tr><tr>
    <td><%= user.favorite[51] %></td>
  </tr><tr>
    <td><%= user.favorite[52] %></td>
  </tr><tr>
    <td><%= user.favorite[53] %></td>
  </tr><tr>
    <td><%= user.favorite[54] %></td>
  </tr><tr>
    <td><%= user.favorite[55] %></td>
  </tr><tr>
    <td><%= user.favorite[56] %></td>
  </tr><tr>
    <td><%= user.favorite[57] %></td>
  </tr><tr>
    <td><%= user.favorite[58] %></td>
  </tr><tr>
    <td><%= user.favorite[59] %></td>
  </tr><tr>
    <td><%= user.favorite[60] %></td>
  </tr><tr>
    <td><%= user.favorite[61] %></td>
  </tr><tr>
    <td><%= user.favorite[62] %></td>
  </tr><tr>
    <td><%= user.favorite[63] %></td>
  </tr><tr>
    <td><%= user.favorite[64] %></td>
  </tr><tr>
    <td><%= user.favorite[65] %></td>
  </tr><tr>
    <td><%= user.favorite[66] %></td>
  </tr><tr>
    <td><%= user.favorite[67] %></td>
  </tr><tr>
    <td><%= user.favorite[68] %></td>
  </tr><tr>
    <td><%= user.favorite[69] %></td>
  </tr><tr>
    <td><%= user.favorite[70] %></td>
  </tr><tr>
    <td><%= user.favorite[71] %></td>
  </tr><tr>
    <td><%= user.favorite[72] %></td>
  </tr><tr>
    <td><%= user.favorite[73] %></td>
  </tr><tr>
    <td><%= user.favorite[74] %></td>
  </tr><tr>
    <td><%= user.favorite[75] %></td>
  </tr><tr>
    <td><%= user.favorite[76] %></td>
  </tr><tr>
    <td><%= user.favorite[77] %></td>
  </tr><tr>
    <td><%= user.favorite[78] %></td>
  </tr><tr>
    <td><%= user.favorite[79] %></td>
  </tr><tr>
    <td><%= user.favorite[80] %></td>
  </tr><tr>
    <td><%= user.favorite[81] %></td>
  </tr><tr>
    <td><%= user.favorite[82] %></td>
  </tr><tr>
    <td><%= user.favorite[83] %></td>
  </tr><tr>
    <td><%= user.favorite[84] %></td>
  </tr><tr>
    <td><%= user.favorite[85] %></td>
  </tr><tr>
    <td><%= user.favorite[86] %></td>
  </tr><tr>
    <td><%= user.favorite[87] %></td>
  </tr><tr>
    <td><%= user.favorite[88] %></td>
  </tr><tr>
    <td><%= user.favorite[89] %></td>
  </tr><tr>
    <td><%= user.favorite[90] %></td>
  </tr><tr>
    <td><%= user.favorite[91] %></td>
  </tr><tr>
    <td><%= user.favorite[92] %></td>
  </tr><tr>
    <td><%= user.favorite[93] %></td>
  </tr><tr>
    <td><%= user.favorite[94] %></td>
  </tr><tr>
    <td><%= user.favorite[95] %></td>
  </tr><tr>
    <td><%= user.favorite[96] %></td>
  </tr><tr>
    <td><%= user.favorite[97] %></td>
  </tr><tr>
    <td><%= user.favorite[98] %></td>
  </tr><tr>
    <td><%= user.favorite[99] %></td>
  </tr><tr>
    <td><%= user.favorite[100] %></td>
  </tr>
</table>
</body>
<% include footer %>  
</html>